body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header {
  -webkit-animation: headerEmerging 1s;
          animation: headerEmerging 1s;
}

@-webkit-keyframes headerEmerging {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes headerEmerging {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.nav {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo-img {
  height: 50px;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reminder-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.user-icon {
  width: 40px;
  height: 40px;
  background-color: #F8991C;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.custom-form {
  position: relative;
}

.label-custom {
  position: absolute;
  top: 70px;
  left: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 160px;
  padding: 10px;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.user-title {
  color: #ccc;
  border-bottom: solid 2px rgba(204, 204, 204, 0.692);
  padding: 5px;
  margin-bottom: 5px;
}

.user-profile, .user-logout {
  padding: 5px;
  text-align: left;
  font-weight: 600;
  cursor: pointer;
}

.user-profile:hover, .user-logout:hover {
  background-color: rgba(230, 228, 228, 0.2);
  border-radius: 2px;
}

.checkbox-standard {
  display: none;
}

.checkbox-standard:checked + .label-custom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fa-bell {
  color: #ccc;
  font-size: 1.4rem;
  cursor: pointer;
}

.fa-bell:hover {
  color: #bababa;
}

.main {
  margin-top: 74px;
  padding-top: 50px;
  background-color: #F8F9FC;
  height: 150vh;
}

.content-wrapper {
  width: 100%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 0;
}

.first-col {
  height: 100%;
  width: 100%;
}

.first-col-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.first-col-upper {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.first-col-lower {
  height: 100%;
  width: 100%;
}

.first-col-mid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
}

.first-col-mid-upper {
  height: 100%;
  width: 100%;
}

.first-col-mid-lower {
  background-color: #E12B4C;
  height: 100%;
  width: 100%;
}

.first-col-right {
  background-color: green;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% auto;
      grid-template-rows: 40% auto;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
}

.right-upper {
  background-color: #8893C0;
  height: 100%;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.right-lower-left {
  background-color: #642077;
  height: 100%;
  width: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.right-lower-right {
  background-color: #2D99FF;
  height: 100%;
  width: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 2fr 1fr;
      grid-template-rows: 2fr 2fr 1fr;
}

.right-lower-right-upper {
  background-color: #2D99FF;
  height: 100%;
  width: 100%;
}

.right-lower-right-mid {
  background-color: #0443A3;
  height: 100%;
  width: 100%;
}

.right-lower-right-lower {
  background-color: #00265F;
  height: 100%;
  width: 100%;
}

.copyright {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.first-col-upper-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.first-col-upper-card-front {
  height: 100%;
}

.first-col-upper:hover .first-col-upper-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.first-col-upper-card-front, .first-col-upper-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.first-col-upper-card-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-btn {
  padding: 10px 20px;
  background-color: #2A8EFF;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.card-btn:hover {
  background-color: #043A9A;
}

.first-col-lower-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #52BF77;
}

.first-col-lower-card-front {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  z-index: 2;
}

.first-col-lower:hover .first-col-lower-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.first-col-lower-card-front, .first-col-lower-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.first-col-lower-card-back {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #fff;
}

.first-col-lower-card-back span {
  padding: 20px 5px;
}

.first-col-mid-upper-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #F7CF69;
}

.first-col-mid-upper-card-front {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 500;
  font-size: 5rem;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  z-index: 2;
}

.first-col-mid-upper-card-front span {
  padding: 5px 15px;
}

.first-col-mid-upper:hover .first-col-mid-upper-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.first-col-mid-upper-card-front, .first-col-mid-upper-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.first-col-mid-upper-card-back {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #fff;
}

.first-col-mid-upper-card-back span {
  padding: 20px 5px;
}

.content-logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-logo-img {
  width: 200px;
}

.first-col-mid-lower-card {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.first-col-mid-lower-card:hover .first-col-mid-lower-card-back {
  top: 0;
}

.first-col-mid-lower-card-front {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}

.first-col-mid-lower-card-back {
  position: absolute;
  z-index: 1;
  top: -200px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.right-upper-card {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.right-upper-card:hover .right-upper-card-back {
  top: 0;
  left: 0;
}

.right-upper-card-front {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-size: 3rem;
}

.right-upper-card-back {
  position: absolute;
  z-index: 1;
  top: 600px;
  left: 600px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.right-lower-left-card {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.right-lower-left-card:hover .right-lower-left-card-back {
  top: 0;
}

.right-lower-left-card-front {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
}

.right-lower-left-card-back {
  position: absolute;
  z-index: 1;
  top: 600px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.right-lower-right-upper-card {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.right-lower-right-upper-card:hover .right-lower-right-upper-card-back {
  top: 0;
}

.right-lower-right-upper-card-front {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.right-lower-right-upper-card-back {
  position: absolute;
  z-index: 1;
  top: 600px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  overflow-y: scroll;
}

.right-lower-right-mid-card {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.right-lower-right-mid-card:hover .right-lower-right-mid-card-back {
  left: 0;
}

.right-lower-right-mid-card-front {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.right-lower-right-mid-card-back {
  position: absolute;
  z-index: 1;
  left: 600px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  text-align: left;
  font-size: 0.7rem;
}

.right-lower-right-lower-card {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.right-lower-right-lower-card:hover .right-lower-right-lower-card-back {
  left: 0;
}

.right-lower-right-lower-card-front {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.right-lower-right-lower-card-back {
  position: absolute;
  z-index: 1;
  left: -600px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.right-lower-right-lower-card-back .fab {
  margin: 10px;
  cursor: pointer;
}

.right-lower-right-lower-card-back .fab:hover {
  color: #3f74b1;
}

.alert-section {
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.alert {
  margin: 10px 0;
  width: 250px;
  min-height: 50px;
  color: #fff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alert .alert-icon {
  font-size: 2rem;
  padding: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert .alert-text .title {
  font-weight: 700;
}

.success {
  background-color: rgba(0, 128, 0, 0.5);
}

.error {
  background-color: rgba(128, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */