body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.header{
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.header {
    animation: headerEmerging 1s;
  }
  
@keyframes headerEmerging {
    from {transform: translateY(-100px)}
    to {transform: translateY(0px)}
}
  


.nav{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-img{
    height: 50px;
}

.right-side{
    display: flex;
}

.reminder-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.user-icon{
    width: 40px;
    height: 40px;
    background-color: #F8991C;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.custom-form{
    position: relative;
}

.label-custom{
    position: absolute;
    top: 70px;
    left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 160px;
    padding: 10px;
    border: none;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.15);
    transform: scale(1);
}

.user-title{
    color: #ccc;
    border-bottom: solid 2px rgba(204, 204, 204, 0.692);
    padding: 5px;
    margin-bottom: 5px;
}

.user-profile, .user-logout {
    padding: 5px;
    text-align: left;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        background-color: rgba(230, 228, 228, 0.2);
        border-radius: 2px;
    }
}

.checkbox-standard{
    display: none;
}
.checkbox-standard:checked + .label-custom{
    transform: scale(0);
}



.fa-bell {
    color: #ccc;
    font-size: 1.4rem;
    cursor: pointer;
    &:hover{
        color:#bababa;
    }
  }

.main{
    margin-top: 74px;
    padding-top: 50px;
    background-color: #F8F9FC;
    height: 150vh;
}

.content-wrapper{
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 0;

}

.first-col{
    height: 100%;
    width: 100%;

}

.first-col-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.first-col-upper{
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.first-col-lower{
    height: 100%;
    width: 100%;
}

.first-col-mid{
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.first-col-mid-upper{
    height: 100%;
    width: 100%;
}


.first-col-mid-lower{
    background-color: #E12B4C;
    height: 100%;
    width: 100%;

}
.first-col-right{
    background-color: green;
    display: grid;
    grid-template-rows: 40% auto;
    grid-template-columns: 60% auto;
}

.right-upper{
    background-color: #8893C0;
    height: 100%;
    width: 100%;
    grid-column: 1/3;
    grid-row: 1;
}

.right-lower-left{
    background-color: #642077;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
}

.right-lower-right{
    background-color: #2D99FF;
    height: 100%;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
}

.right-lower-right-upper{
    background-color: #2D99FF;
    height: 100%;
    width: 100%;
}

.right-lower-right-mid{
    background-color: #0443A3;
    height: 100%;
    width: 100%;
}

.right-lower-right-lower{
    background-color: #00265F;
    height: 100%;
    width: 100%;
}

.copyright{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.first-col-upper-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.first-col-upper-card-front{
    height: 100%;
}

.first-col-upper:hover .first-col-upper-card{
    transform: rotateY(180deg);
}

.first-col-upper-card-front, .first-col-upper-card-back{
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.first-col-upper-card-back{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
} 

.card-btn{
    padding: 10px 20px;
    background-color: #2A8EFF;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;

    &:hover{
        background-color: #043A9A;
    }
}


.first-col-lower-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;  
    background-color: #52BF77;
}

.first-col-lower-card-front{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
}

.first-col-lower:hover .first-col-lower-card{
    transform: rotateY(180deg);
}

.first-col-lower-card-front, .first-col-lower-card-back{
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.first-col-lower-card-back{
    z-index: 1;
    display: flex;
    font-weight: 700;
    align-items: flex-start;
    justify-content: center;
    transform: rotateY(180deg);
    background-color: #fff;
    span{
        padding: 20px 5px;
    }
} 

.first-col-mid-upper-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
    background-color: #F7CF69;
      
}

.first-col-mid-upper-card-front{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 5rem;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    z-index: 2;
    span{
        padding: 5px 15px;
    }
}

.first-col-mid-upper:hover .first-col-mid-upper-card{
    transform: rotateY(180deg);
}

.first-col-mid-upper-card-front, .first-col-mid-upper-card-back{
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.first-col-mid-upper-card-back{
    z-index: 1;
    display: flex;
    font-weight: 700;
    align-items: flex-start;
    justify-content: center;
    transform: rotateY(180deg);
    background-color: #fff;
    span{
        padding: 20px 5px;
    }
}  

.content-logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-logo-img{
    width: 200px;
}


.first-col-mid-lower-card{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover .first-col-mid-lower-card-back{
        top: 0;
    }

}

.first-col-mid-lower-card-front{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;

}

.first-col-mid-lower-card-back{
    position: absolute;
    z-index: 1;
    top: -200px;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
    font-weight: 700;
    transition: 0.2s;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.right-upper-card{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover .right-upper-card-back{
        top: 0;
        left: 0;
    }
}

.right-upper-card-front{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
}

.right-upper-card-back{

    position: absolute;
    z-index: 1;
    top: 600px;
    left: 600px;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
    font-weight: 700;
    transition: 0.2s;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.right-lower-left-card{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover .right-lower-left-card-back{
        top: 0;
    }
}

.right-lower-left-card-front{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
}

.right-lower-left-card-back{
    position: absolute;
    z-index: 1;
    top: 600px;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
    font-weight: 700;
    transition: 0.2s;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.right-lower-right-upper-card{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover .right-lower-right-upper-card-back{
        top: 0;
    }
}

.right-lower-right-upper-card-front{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.right-lower-right-upper-card-back{
    position: absolute;
    z-index: 1;
    top: 600px;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
    font-weight: 500;
    transition: 0.2s;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    overflow-y: scroll;
}

.right-lower-right-mid-card{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover .right-lower-right-mid-card-back{
        left: 0;
    }
}

.right-lower-right-mid-card-front{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.right-lower-right-mid-card-back{
    position: absolute;
    z-index: 1;
    left: 600px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
    font-weight: 500;
    transition: 0.2s;
    padding: 20px;
    text-align: left;
    font-size: 0.7rem;
}

.right-lower-right-lower-card{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover .right-lower-right-lower-card-back{
        left: 0;
    }
}

.right-lower-right-lower-card-front{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.right-lower-right-lower-card-back{
    position: absolute;
    z-index: 1;
    left: -600px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
    font-weight: 500;
    transition: 0.2s;
    padding: 20px;
    text-align: center;
    font-size: 1.3rem;
    .fab{
        margin: 10px;
        cursor: pointer;
        &:hover{
            color: rgb(63,116,177);
        }
    }
}

//Notifications

.alert-section{
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;

}

.alert{
    margin: 10px 0;
    width: 250px;
    min-height: 50px;
    color: #fff;
    padding: 15px;
    display: flex;
    .alert-icon{
        font-size: 2rem;
        padding: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .alert-text{
        .title{
            font-weight: 700;
        }
    }
    
}

.success{
    background-color: rgba(0, 128, 0, 0.5);
}

.error{
    background-color: rgba(128, 0, 0, 0.5);
}